@charset "UTF-8";

/*=============================================================================
  下層ページ用のスタイルシート
=============================================================================*/

/*-----------------------------------------------------------------------------
  ページ全体の設定
-----------------------------------------------------------------------------*/
body.site {
  background: rgb(180, 180, 180);
  color: rgb(50, 50, 50);

  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: [head] 100px
                      [main] auto
                      [side] auto
                      [foot] 100px;
  row-gap: 20px;
  font-family: sans-serif;
}

/* パーツの配置 */
body.site > * {
  grid-column: 2 / -2;
}

/*-----------------------------------------------------------------------------
  メインコンテンツ
-----------------------------------------------------------------------------*/
.site main {
  grid-row: main;

}

.site main.one.article {
  /* main タグ自体も、コンテナ（容器）として、
  内側にあるタグを自在に配置できるよう、
  グリッド(枠線)を用意します。
  中にあるarticleの数によって、グリッド数を変更しています */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.site main.two.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
}

/*-----------------------------------------------------------------------------
  タイトル
-----------------------------------------------------------------------------*/
.site main h1 {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: start;
  color: rgb(70, 70, 70);
  font-size: 30px;
  font-weight: 100;
  line-height: 1.1;
  font-family: "Special Elite", cursive;
}

/*-----------------------------------------------------------------------------
  アイキャッチ（≒ヒーローイメージ）
-----------------------------------------------------------------------------*/
.site figure.eyecatch {
  grid-column: 2 / -2;
  grid-row: 2;
}

/*-----------------------------------------------------------------------------
  料金表など、個々の記事の配置
-----------------------------------------------------------------------------*/
/*
  index.html では、それぞれの記事にクラス属性を指定して、配置を設定しましたが、
  nth-childを使って、配置を指定することも出来ます。
  二つarticleがある場合、最初のarticle は、main から見て三番目の子ですので、
  article:nth-child(3)と書いて指定し、グリッドのどの線に配置するか記述します。
  最後のarticle は、main から見て四番目の子ですので、
  article:nth-child(4)と書いて指定し、グリッドのどの線に配置するか記述します。
*/
.site main.one.article article { grid-row: 3; grid-column: 1; }

.site main.two.article article:nth-child(3) { grid-row: 3; grid-column: 1; }
.site main.two.article article:nth-child(4) { grid-row: 4; grid-column: 1; }

/*-----------------------------------------------------------------------------
  トレーニングイメージ画像
-----------------------------------------------------------------------------*/
aside {
  grid-column: 1;
  grid-row: side;
}

/*=============================================================================
  PC版の設定
=============================================================================*/
@media (min-width: 768px) {
  /* PC版：ページ全体の設定 */
  body.site {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    grid-template-rows: [head] 100px
                        [main] auto
                        [side] auto
                        [foot] 100px;
    column-gap: 5%;
  }

  /*-----------------------------------------------------------------------------
    メインコンテンツ
  -----------------------------------------------------------------------------*/
  .site main.two.article {
    /* main タグ自体も、コンテナ（容器）として、
    内側にあるタグを自在に配置できるよう、
    グリッド(枠線)を用意します。
    記事を二列にしたいので、少し枠線を変更します。*/
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  /*-----------------------------------------------------------------------------
    タイトル
  -----------------------------------------------------------------------------*/
  .site main h1 {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  /*-----------------------------------------------------------------------------
    アイキャッチ（≒ヒーローイメージ）
  -----------------------------------------------------------------------------*/
  .site figure.eyecatch {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  /*-----------------------------------------------------------------------------
    料金表など、個々の記事の配置
  -----------------------------------------------------------------------------*/
  /* iPad や Mac では、記事は横並びに配置するようにします */
  .site main.two.article article:nth-child(3) { grid-row: 3; grid-column: 1; }
  .site main.two.article article:nth-child(4) { grid-row: 3; grid-column: 2; }

}
